<!-- about.html -->
{% extends 'base.html' %}

{% block title %} contact-us {% endblock %}
{% block style%}
  <style>
    
.add {
      margin: 20px;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	  font-size:15px;
		text-align:justify;
			background: rgba(255, 255, 255, 0.05);
			color:white;
	
	text-align:justify;
    }
	.add .add1{
	
	}
    
  </style>
{% endblock %}
<body>
{% block content %}
<h1 style="color:white;"> The WebGALA Team </h1>
<div class="add">
<h1>Contact Info</h1><br>

<ul>
<li><p  style="font-weight:bold ;">Aditya Tiwari </p>      | contact me via: <a href="mailto:2k02aditya@gmail.com"  style="text-decoration:none,font-color:lightblue ;" >My email</a></li> <br><br>
<li><p  style="font-weight:bold ;">Anushka Vijaywargiya</p> | contact me via:<a href="mailto:anushkavijaywargi28@gmail.com" style="text-decoration:none ,font-color:lightblue ;">My email</a></li> 

</div>
{% endblock %}
</body>